.cardCategoryWhite,
.cardCategoryWhite a {
  color: 'rgba(255,255,255,.62)';
  margin: '0';
  font-size: '14px';
  margin-top: '0';
  margin-bottom: '0';
  & a {
    color: '#FFFFFF';
  }
}

.cardTitleWhite {
  color: '#FFFFFF';
  margin-top: '0px';
  min-height: 'auto';
  font-weight: '300';
  font-family: "'Roboto', 'Helvetica', 'Arial', sans-serif";
  margin-bottom: '3px';
  text-decoration: 'none';
  &.small {
    color: '#777';
    font-size: '65%';
    font-weight: '400';
    line-height: '1';
  }
}
