@import "../styles/variables.styl"

.header-links
  padding: 10px 20px 0 20px
  color: #fff
  font-size: 12px
  font-weight: 300
  span
    display: block
    width: 100%
    margin-right: 8px
  &__change-password, button
    color: #fff
  a,
  button
    border: none
    font-size: 12px
    font-weight: 300
    margin: 0
    padding: 0
    background: none
    cursor: pointer
    &:hover
      color: $color-controls-accent

  @media (min-width: 960px)    
    color: #000
    button
      color: #000
    span
      display: inline
    &__change-password
      color: #000
