 header.app-bar
    padding: 0
    background-color: transparent
    box-shadow: none
    border-bottom: 0
    margin-bottom: 0
    position: absolute
    width: 100%
    color: #555555
    border: 0
    border-radius: 3px
    transition: all 150ms ease 0s
    min-height: 64px
    display: flex
 .app-bar
    &__burger
        position: fixed;
        top: 14px;
        left: 14px;
    &__container
        min-height: 50px
    &__flex
        flex: 1
    &__title
        lineHeight: 30px
        fontSize: 18px
        borderRadius: 3px
        textTransform: none
        color: inherit
        margin: 0
        &:hover, &:focus
            background: transparent
    &__app-responsive
        top: 8px
