.table
    .table
        &__item-link
            border: none
            cursor: pointer
            font-weight: bold
            color: #00acc1
            text-decoration: underline
        &__actions
            display: flex
            svg 
                margin: 0 8px
                cursor: pointer
                &:first-child
                    color: #00acc1
                &:last-child
                    color: #d0002e
