@import "../../styles/variables.styl"

.table__head-item
    display: flex
    align-items: center
.filters
    &__arrow-up, &__arrow-down
        color: $color-dark-active
        &--disabled
            color: $color-dark-disabled
    &__arrow-down
        margin-top: -16px;
    &__arrows
        cursor: pointer
        display: inline-flex
        flex-direction: column
