$gradient-accent = linear-gradient(60deg, #ab47bc, #8e24aa)
$box-shadow-accent = 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2)
$color-accent = #ab47bc
$color-controls-accent = #00acc1
$box-shadow-controls-accent = 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2)
$color-danger = #d0002e
$color-dark-active = #222
$color-dark-disabled = #aaa
$color-light-active = #eee
$color-light-disabled = #aaa
