.entity-item
    .entity-item
        &__form
            padding: 40px
            padding-bottom: 20px
        &__form-row
            display: flex
            margin-bottom: 20px
            min-height: 42px
            align-items: flex-end
            label 
                margin-right: 24px
                min-width: 100px
                font-size: 16px
            .dropdown
                div:first-child
                    margin: 0
                    min-width: 170px
        &__form-input
            min-width: 200px
            &-checkbox
                padding: 0
