.dropdown
    *
        transition: all 300ms ease
        color: #555 !important
        &:hover, &:focus, &:active
            color: #222
    &.active
        *
            color: #222 !important
    .dropdown
        &__select
            color: #222
            border-bottom: 1px solid #aaa
            &_active,
            &:hover
                border-bottom: 2px solid #222
            input, svg
                color: #222
