.search
    input
        width: 300px
        font-size: 18px
        color: #ddd
        border-bottom: 1px solid #aaa
        transition: all 300ms ease
        &:hover, &:focus, &:active
            border-bottom: 1px solid #ddd
        &::placeholder
            color: #ddd
    svg 
        margin-left: -24px
