@import "../styles/variables.styl"

.search
    *
        transition: all 300ms ease
    input
        width: 300px
        font-size: 18px
        color: $color-light-active
        border-bottom: 1px solid $color-light-disabled
        transition: all 300ms ease
        &:hover, &:focus, &:active
            border-bottom: 1px solid $color-light-active
        &::placeholder
            color: $color-light-active
    svg 
        margin-left: -24px
        margin-bottom: -6px
        color: $color-light-disabled
    &.active, &:hover, &:focus
        input
            border-bottom: 1px solid $color-light-active
        svg
            color: $color-light-active
