.sidebar
  &__logo
    position: relative
    padding: 10px 10px
    padding-bottom: 4px
    z-index: 4
    &:after
      content: ""
      position: absolute
      bottom: 0
      height: 1px
      left: 15px
      width: calc(100% - 30px)
      background-color: rgba(180 180 180 0.3)
  &__logo-link
    cursor: pointer
    color: #fff
    text-transform: uppercase
    padding: 5px 0
    display: block
    font-size: 18px
    text-align: left
    font-weight: 400
    line-height: 48px
    text-decoration: none
    background-color: transparent
    border: none;
    padding: 0;
    margin: 0;
  &__logo-image
    width: 30px
    display: inline-block
    max-height: 30px
    margin-left: 10px
    margin-right: 15px
  img.logo
    width: 35px
    top: 22px
    position: absolute
    vertical-align: middle
    border: 0
