.auth
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__change-type-link
    margin-top: 20px;
    display: block;
    border: none
    cursor: pointer;
    font-size: 14px;
    color: #22f;
    padding: 0;
  form
    display: flex
    flex-direction: column
    *
      width: 100%
    > div
      min-width: 300px  
    label
      width : 100%
      font-weight: 600
      font-size: 16px
      color: #4877bf
      font-family: Helvetica, sans-serif
      display: block
      margin-top: 24px
    input
        margin-bottom: 2px
        border-radius: 10px
        margin-top: 12px
        padding: 5px 5px 5px 0px
        transition: 200ms ease all
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus, 
        &:-webkit-autofill:active
          -webkit-box-shadow: 0 0 0 30px white inset;
  button.auth__submit-button
    height: 40px
    line-height: 40px
    padding: 0
    display: block
    margin-top: 24
    background: #4877bf
    width: 100%
    color: #fff
  header 
    margin-top: -100px
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100%
    h1
      text-align: center
      font-size: 36px
      width: 100%
      color: #4877bf
      font-family: Helvetica, sans-serif
      margin-bottom: 30px
  &__error-field
    color: #a00
    margin-bottom: 0
